/EventosJava/nbproject/private/
/EventosJava/build/
/EventosJava/dist/
/JavaApplication4/nbproject/private/
/PracticaVisual/nbproject/private/
/PracticaVisual/build/
/PracticaVisual/dist/
/PracticaVisualv2/nbproject/private/
/EscuelaProyecto/nbproject/private/
/EscuelaProyecto/build/
/EscuelaProyecto/dist/
/Prueba/target/
/PracticasBasicas/dist/
/ProyectoPOE/nbproject/private/
/ProyectoPOE/build/
